{# Translations that are not (yet) defined elsewhere in the application #}
{# But are only used as dynamic translatable strings (yet) #}

{# Move to radio button selection in orga / helper create POI #}
{{ _('team') }}
{{ _('point of interest') }}
{{ _('workshop') }}
{{ _('station') }}
