{% extends 'dashboard.jinja2' %}

{% block title %}{{ _('Team dashboard') }} - {{ super() }}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{ _('Hello %(username)s!', username=current_user.username) }}</h3>
    <h4>Team-Dashboard</h4>

    <a href="{{ url_for('settings.team') }}" style="display: flex; align-items: center; gap: 5px; text-decoration: none;">
        <span class="material-symbols-outlined">settings</span>
        <span>{{ _('Team profile settings') }}</span>
    </a>
    <a href="{{ url_for('scoreboard.index') }}" style="display: flex; align-items: center; gap: 5px; text-decoration: none;">
        <span class="material-symbols-outlined">scoreboard</span>
        <span>{{ _('Scoreboard') }}</span>
    </a>
    <a href="{{ url_for('team.my_events') }}" style="display: flex; align-items: center; gap: 5px; text-decoration: none;">
        <span class="material-symbols-outlined">calendar_month</span>
        <span>{{ _('My next events') }}</span>
    </a>
</div>
{% endblock %}
