{% extends 'dashboard.jinja2' %}

{% block nav_items_between %}
    {{ super() }}
    <a href="{{ url_for('team.index') }}"><span class="material-symbols-outlined">team_dashboard</span></a>
{% endblock %}

{% block nav_items_after %}
    {{ super() }}
    <a href="{{ url_for('settings.index') }}"><span class="material-symbols-outlined">settings</span></a>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{ _('Hello %(username)s!', username=current_user.username) }}</h3>
</div>
{% endblock %}
