{% extends 'dashboard.jinja2' %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{ _('Hello %(username)s!', username=current_user.username) }}</h3>
    <h4>Team-Dashboard</h4>

    <a href="{{ url_for('settings.index') }}">Settings</a>  {# TODO move elsewhere? #}
</div>
{% endblock %}
