{% extends 'map.jinja2' %}

{% macro parse_item(item) -%}
{% set item_logo = url_for('static', filename='uploads/') ~ ('default.png' if item.logo is none else item.logo) %}
{% set item_name = item.name | striptags %}
L.marker([{{ item.camp_location[0] }}, {{ item.camp_location[1] }}], {
    icon: location_icon_img('{{ item_logo }}'{% if item.color is not none %}, color='{{ item.color }}'{% endif %}),
    title: '{{ _('Position of %(item_name)s', item_name=item_name) }}'
}).bindPopup(L.popup().setContent('{{ map_popup(item_name, item_logo, link=url_for('profile.team', team_name=item.name) if item.linkable else none) | replace('\n', '') }}'))
{%- endmacro %}

{% block title %}{{ _('Camp map') }} - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
            margin: 0;
        }

        .navbar.desktop-visible {
            margin: 8px;
        }
    </style>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100dvh;">
    <h3 style="text-align: center;">{{ _('Camp map') }}</h3>
    <div id="map" style="width: 100%; height: 100%;"></div>
    <script>
        let bounds = new L.LatLngBounds(
            new L.LatLng({{ config.CAMP_LOCATION_LAT | float - 1/120 }}, {{ config.CAMP_LOCATION_LON | float - 1/60}}),
            new L.LatLng({{ config.CAMP_LOCATION_LAT | float + 1/120 }}, {{ config.CAMP_LOCATION_LON | float + 1/60}})
        );
        {% with categories = map_items | map(attribute='category') | unique | sort %}
        const overlays = {
            {% for category in categories %}
                '{{ _(category) }}': L.layerGroup([
                    {% for item in map_items if item.category == category -%}
                        {{ parse_item(item) | replace('\n', '') }}{% if not loop.last %}, {% endif %}
                    {%- endfor %}]){% if not loop.last %}, {% endif %}
            {% endfor %}
        }
        {% endwith %}
        const map = L.map('map', {
            maxBounds: bounds,
            maxBoundsViscosity: 1.0,
            layers: Object.values(overlays)
        }).setView([{{ config.CAMP_LOCATION_LAT | default(0) }}, {{ config.CAMP_LOCATION_LON | default(0) }}], {{ config.CAMP_LOCATION_ZOOM | default(18) }});
        L.tileLayer('{{ url_for('static', filename='maps/camp') }}/{z}/{x}/{y}.png', {
            minZoom: {{ config.CAMP_LOCATION_MIN_ZOOM | default(17) }},
            maxZoom: {{ config.CAMP_LOCATION_MAX_ZOOM | default(19) }},
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> | <span>PsychOlympia</span>'
        }).addTo(map);
        L.control.layers({}, overlays).addTo(map);
    </script>
</div>
{% endblock %}
