{% extends 'dashboard.jinja2' %}

{% block title %}{{ _('Home') }} - {{ super() }}{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; gap: 30px;">
        <h1>Hello PsychOlympia!</h1>
        <div style="display: flex; flex-direction: column; gap: 5px; align-items: center;">
            <a href="{{ url_for('main.team_map') }}" style="display: flex; gap: 5px; align-items: center; text-decoration: none;"><span class="material-symbols-outlined">public</span>Teamkarte</a>
            <a href="{{ url_for('main.camp_map') }}" style="display: flex; gap: 5px; align-items: center; text-decoration: none;"><span class="material-symbols-outlined">camping</span>Campkarte</a>
        </div>
        <div style="display: flex; flex-direction: column; gap: 5px; align-items: center;">
            <a href="{{ url_for('feedback.wifi') }}">{{ _('WiFi feedback') }}</a>
            <a href="{{ url_for('feedback.website') }}">{{ _('Website feedback') }}</a>
        </div>
    </div>
{% endblock %}
