{% extends 'map.jinja2' %}

{% block title %}{{ _('Team map') }} - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100dvh;">
    <h3>{{ _('Team map') }}</h3>
    <div id="map" style="width: 100%; height: 100%;"></div>
    <script>
        let bounds = new L.LatLngBounds(
            new L.LatLng({{ config.COUNTRY_LOCATION_LAT | float - 5 }}, {{ config.COUNTRY_LOCATION_LON | float - 5}}),
            new L.LatLng({{ config.COUNTRY_LOCATION_LAT | float + 5 }}, {{ config.COUNTRY_LOCATION_LON | float + 5}})
        );
        const map = L.map('map', {
            maxBounds: bounds,
            maxBoundsViscosity: 1.0
        }).setView([{{ config.COUNTRY_LOCATION_LAT | default(0) }}, {{ config.COUNTRY_LOCATION_LON | default(0) }}], {{ config.COUNTRY_LOCATION_ZOOM | default(6) }});
        L.tileLayer('{{ url_for('static', filename='maps/country') }}/{z}/{x}/{y}.png', {
            minZoom: {{ config.COUNTRY_LOCATION_MIN_ZOOM | default(0) }},
            maxZoom: {{ config.COUNTRY_LOCATION_MAX_ZOOM | default(19) }},
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> | <span>PsychOlympia</span>'
        }).addTo(map);

        {% for item in map_items %}
            {% set item_logo = url_for('static', filename='uploads') ~ '/' ~ ('default.png' if item.logo is none else item.logo) %}
            {% set item_name = item.name | striptags %}
            L.marker(
                [{{ item.country_location[0] }}, {{ item.country_location[1] }}],
                {
                    icon: location_icon_img('{{ item_logo }}'{% if item.color is not none %}, color='{{ item.color }}'{% endif %}),
                    title: '{{ _('Position of %(item_name)s', item_name=item_name) }}'
                }
            ).bindPopup(L.popup().setContent('{{ map_popup(item_name, item_logo, link=url_for('profile.index', team_name=item.name) if item.linkable else none) | replace('\n', '') }}')).addTo(map);
        {% endfor %}
    </script>
</div>
{% endblock %}
