{% extends 'base.jinja2' %}

{% block title %}{{ _('Infopanel') }} - {{ super() }}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>{{ _('Infopanel') }}</h1>
</div>
{% endblock %}
