{% extends 'dashboard.jinja2' %}

{% block title %}{{ _('Helper dashboard') }} - {{ super() }}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{ _('Hello %(username)s!', username=current_user.username) }}</h3>

    <a href="">Edit scoreboard entries (todo)</a>
    <a href=""></a>
</div>
{% endblock %}
