:root {
    --accent-color: #57ac4f;
}


button, input {
    border: 1px solid black;
    padding: 0.5rem;
    outline: none;
    transition: border-color 300ms ease-in-out;
}

button:hover, button:focus, input:hover, input:focus {
    border-color: var(--accent-color);
    transition: border-color 300ms ease-in-out;
}

button {
    border-radius: 100px;
}


.invisible-button {
    border-color: transparent;
}
