{% extends 'dashboard.jinja2' %}

{% block title %}{{ _('Public team profile of %(name)s', name=team.name) }} - {{ super() }}{% endblock %}

{% block content %}
<h2>{{ _('Public team profile of %(name)s', name=team.name) }}</h2>
{% endblock %}
