{% extends 'dashboard.jinja2' %}

{% block title %}{{ _('Scoreboard') }} - {{ super() }}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h3>{{ _('Scoreboard') }}</h3>
    <span class="material-symbols-outlined success">arrow_drop_up</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined danger">arrow_drop_down</span>
</div>
{% endblock %}
