<html dir="ltr" lang="{{ lang }}">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}PsychOlympia{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ url_for('main.favicon', size=32) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('main.favicon', size=192) }}" sizes="192x192">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
</head>
<body>
{% block common %}
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    <div id="toast-container"></div>
    <script>
        function showToast(content) {
            const toastContainer = document.getElementById("toast-container");

            let toast = document.createElement("div");
            toast.className = "toast show";
            toast.innerHTML = content;

            toastContainer.insertBefore(toast, toastContainer.firstChild);

            setTimeout(function() {
                toast.classList.remove("show");
                toast.classList.add("hide");

                setTimeout(function() {
                    toastContainer.removeChild(toast);
                }, 300);
            }, 5000);
        }

        {% with messages = get_flashed_messages(with_categories=true) %}
        [{% for category, message in messages %}'<span class="{{ category }}">{{ message }}</span>'{% if not loop.last %}, {% endif %}{% endfor %}].forEach((content, index) => {
            setTimeout(() => showToast(content), index * 350);
        })
        {% endwith %}
    </script>
{% endblock %}
</body>
</html>
