<html dir="ltr" lang="de-DE">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}PsychOlympia{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ url_for('main.favicon', size=32) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('main.favicon', size=192) }}" sizes="192x192">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
</head>
<body>
{% block body %}
    {% block content %}
    {% endblock %}
    {# TODO better flashed messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    {% endwith %}
{% endblock %}
</body>
</html>
