{% extends 'base.jinja2' %}

{% block title %}{{ _('Dashboard') }} - {{ super() }}{% endblock %}

{% block body %}
    <a href="{{ url_for('main.index') }}">
        <span class="material-symbols-outlined">home</span>
    </a>
    {% block content %}
    {% endblock %}
{% endblock %}